/* 
 * Gridonkulous: a tiny fluid grid system for Less 
 * http://github.com/daltonrooney/gridonkulous
 * MIT License: http://opensource.org/licenses/MIT
 */
/* Change these variables */
/* Any number of columns */
/* in % */
/* When do the columns kick in? By default, columns are 100% width. */
/* You probably don't want to edit below this line */
.row,
.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  padding: 0 20px;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  margin: 0 -2%;
}
.col {
  float: left;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .col {
    margin: 0 1%;
  }
  .col:first-child {
    margin-left: 0;
  }
  .col:last-child {
    margin-right: 0;
  }
}
